.not-visible{
    display: none;
}

.dz{
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover{
    background-color: aliceblue !important;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333;
}

body.dark-mode #dark-icon.bi-brightness-high {
    color: white;
}

navbar.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
